@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

/*
|--------------------------------------------------------------------------
| Restaurant POS - Design System
|--------------------------------------------------------------------------
*/

@theme {

    /* Tipografía */
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

    /* Colores principales */
    --color-primary: #2563eb;
    --color-primary-hover: #1d4ed8;

    /* Naranja */
--color-orange-500: #f97316;
--color-orange-600: #ea580c;

    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
    --color-info: #3b82f6;

    /* Superficies */
    --color-background: #f8fafc;
    --color-surface: #ffffff;

    /* Sidebar */
    --color-sidebar: #0f172a;
    --color-sidebar-hover: #1e293b;

    /* Texto */
    --color-text: #0f172a;
    --color-text-muted: #64748b;

    /* Bordes */
    --color-border: #e2e8f0;

    /* Radios */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 18px;

}

[x-cloak] {
    display: none !important;
}



/* Selects globales */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: white;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%2364748b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 16px;

    padding-right: 2.5rem;
}

select:focus {
    border-color: #64748b;

    box-shadow:
        0 0 0 2px rgba(226, 232, 240, 1);
}